<div class="page__inner">
  <p class="back-link__block">
    <%= link_to "<< К списку предоставляемых услуг", admin_services_path, class: 'back-link' %>
  </p>
  <h2 class="form__title">Редактировать услугу : </h2>
  <%= render 'admin/services/form' %>
</div>
