<div class="section_title-block">
  <h2 class="main__title">Добро пожаловать в админ-панель CRM</h2>
  <p>Для редактирования различных каталогов пройдите по нижеприведенным ссылкам, или воспользуйтесь ссылками меню.</p>
  <p><%#= link_to 'Пользователи', admin_users_path %></p>
  <p><%= link_to 'Сфера деятельности', admin_industries_path %></p>
  <p><%= link_to 'Должности', admin_job_positions_path%></p>
</div>
