<h2>Список взаимодействий с компаниями</h2>
<p>
  <%= link_to "Новое взаимодействие", new_interaction_path %>
</p>
<p>
  Всего взаимодействий : <%= @interactions.size %>
</p>
 <div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="interaction_list__block">
      <%= render 'table' %>
    </div>
  </div>
</div>
