<div class="page__inner">
  <p class="back-link__block">
    <%= link_to "<< К списку взаимодействий", interactions_path, class: 'back-link' %>
  </p>
  <h2 class="form__title">Создать карточку взаимодействия</h2>
  <%= render 'form' %>
</div>
