<div class="page__inner">
  <p class="back-link__block">
    <%= link_to "<< К списку должностей", admin_job_positions_path, class: 'back-link' %>
  </p>
  <h2 class="form__title">Добавить должность : </h2>
  <%= render 'admin/job_positions/form' %>
</div>
