<h1>Список всех представителей</h1>
<p>
  <%= link_to "Добавить представителя", new_representative_path %>
</p>
<div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="representative_list__block">
      <div class="table__wrapper">
        <%= render partial: 'table' %>
      </div>
      <div class="digg_pagination pagination__block">
        <%= will_paginate @representatives %>
      </div>
    </div>
  </div>
</div>
