<h1>Список всех представителей</h1>
<p>
  <%= link_to "Добавить представителя", new_representative_path %>
</p>
<% for representative in @representatives %>
<p>
  <%= link_to representative.fullname, representative_path(representative.id) %>
</p>
<% end %>
