<table class="general__table company__table">
  <tr class="table__row-header">
    <th>Название</th>
    <th>Категория</th>
    <th>ФИО руководителя</th>
    <th>Дата вступ./выхода</th>
    <th>Статус</th>
  </tr>
  <% @companies.each do |company| %>
    <%= render partial: 'company', locals: { company: company} %>
  <% end %>
</table>
