<div class="table__wrapper">
  <table class="general__table company__table">
    <tr class="table__row-header">
      <th>Название</th>
      <th>Категория</th>
      <th>ФИО руководителя</th>
      <th>Дата вступ./выхода</th>
      <th>Статус</th>
    </tr>
    <% @companies.each do |company| %>
      <%= render partial: 'company', locals: { company: company} %>
    <% end %>
  </table>
</div>
<div class="digg_pagination pagination__block">
  <%= will_paginate @companies,
      params: {
        filter: {
          category: params[:filter]&.fetch(:category, ''),
          status: params[:filter]&.fetch(:status, ''),
          date: params[:filter]&.fetch(:date, ''),
          period: params[:filter]&.fetch(:period, '')
        }
      } %>
</div>
