<h1>Список компаний</h1>
<p>
  <%= link_to 'Добавить компанию', new_company_path %>
</p>
<% for company in @companies %>
<p>
  <%= link_to company.name, company_path(company.id) %>
  <span> Результат взаимодействия - <%= company.total %> </span>
</p>
<% end %>
<p>
  Всего компаний : <%= @companies.size %>
</p>