<div class="page__inner">
  <p class="back-link__block">
    <%= link_to "<< К списку компаний", companies_path, class: 'back-link' %>
  </p>
  <h2 class="form__title">Создать карточку компанию : </h2>
  <%= render 'form' %>
</div>