html, body,  {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrap {
  min-height: 100%;
  width: 100%;
}
.page__main {
  width: 100%;
  padding-bottom: 60px;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}
header {
  height: 64px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  // background: #f2f2f2;
  background: #EBEBEB;
  overflow: hidden;
}
footer {
  margin: -50px auto 0;
  height: 50px;
  width: 100%;
  // background: #f2f2f2;
  background: #EBEBEB;
}
.footer__text {
  margin: 0 auto;
  padding: 17px 40% 0;
}
.logo {
  margin: 0 auto;
  width: 15%;
  float: left;
  padding: 5px 0 0 20px;
}
.navbar {
  padding:0;
  margin: 0 auto;
  width: 80%;
  float: right;
}
.menu {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.menu__item {
  display: inline-block;
  margin: 0 15px;
  padding: 0 5px;
  line-height: 64px;
}
.menu__item-link {
  margin: 0 auto;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  // color: #3182DF;
  color: #581865;
}
.menu__item:hover {
  // background: #194775;
  background: #581865;
}
.menu__item:hover > a{
  color: #fff;
}
.company__list {

}
.company__item-table-header,
.company__item-table {
  width: 100%;
}
.company__item-header,
.company__item-row {
  margin: 5px auto;
  padding: 5px;
  width: 90%;
  min-height: 20px;
  display: inline-block;
}
.company__item-row:hover {
  background: #581865;
  // background: rgba(0,0,255,0.3);
  color: #fff;
  font-size: 16px;
}
.company__item-action-header,
.company__item-action {
  width: 5%;
  display: inline-block;
  text-align: center;
}
.company__item-link {
  text-decoration: none;
  color: #000;
}
.company__item-name {
  width: 69%;
  padding: 0 5px;
  display: inline-block;
  letter-spacing: 1px;
}
.company__item-category {
  width: 15%;
  display: inline-block;
  padding: 0 5px;
}
.company__item-interaction_result {
  margin-left: 20px;
  width: 5%;
  font-style: italic;
  display: inline-block;
  text-align: center;
}
.company__item-red {
  // background: red;
  background: rgba(255,0,0,0.6);
}
.company__item-yellow {
  // background: yellow;
  background: rgba(255,255,0,0.5);
}
.company__item-green {
  // background: green;
  background: rgba(0,255,0,0.3);
}
.company__item-action {
  vertical-align: middle;
  text-align: center;
}
.company__details-link {
  padding-left: 5px;
}
.company__status {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.company__status + label {
  cursor: pointer;
}
.company__status:not(checked) {
  position: absolute;
  opacity: 0;
}
.company__status:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
  margin-right: 15px;
}
.company__status:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.company__status:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.company__status:checked + label:after {
  opacity: 1;
}
.company__status:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
