html, body,  {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrap {
  min-height: 100%;
  width: 100%;
}
.page__main {
  width: 100%;
  padding-bottom: 60px;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}
.back-link__block {
  margin: 0 auto;
  padding: 5px 0 0;
}
.back-link {
  margin-left: 25%;
}
header {
  height: 64px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  // background: #f2f2f2;
  background: #EBEBEB;
  overflow: hidden;
}
footer {
  margin: -50px auto 0;
  height: 50px;
  width: 100%;
  // background: #f2f2f2;
  background: #EBEBEB;
}
.footer__text {
  margin: 0 auto;
  padding: 17px 40% 0;
}
.logo {
  margin: 0 auto;
  width: 15%;
  float: left;
  padding: 5px 0 0 20px;
}
.navbar {
  padding:0;
  margin: 0 auto;
  width: 80%;
  float: right;
}
.menu {
  margin: 0 auto;
  padding: 0;
  padding-right: 7%;
  list-style: none;
  text-align: right;
}
.menu__item {
  display: inline-block;
  margin: 0 15px;
  padding: 0 5px;
  line-height: 64px;
}
.menu__item-link {
  margin: 0 auto;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  // color: #3182DF;
  color: #581865;
}
.menu__item:hover {
  // background: #194775;
  background: #581865;
}
.menu__item:hover > a{
  color: #fff;
}
.page__inner {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.main__section {
  width: 100%;
  display: flex;
  flex: wrap;
  justify-content: space-between;
}
.sidebar__section {
  width: 15%;
  margin: 0 auto;
  padding: 0;
}
.filter__title {
  margin: 0;
  padding: 0;
  text-align: center;
}
.sidebar__filter {
  width: 95%;
  margin: 20px 0 5px;
  padding: 5% 0 0 5%;
  border: 2px solid #581865;
  border-radius: 6px;
  background: #F9F7FA;
}
.filter_select {
  width: 95%;
}
.sidebar__legend {
  width: 95%;
  margin: 0 0 5px 0;
  padding: 5% 0 0 5%;
  border: 2px solid #581865;
  border-radius: 6px;
  background: #F9F7FA;
}
.legend__row {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.legend__title {
  margin: 0 5px 5px;
  widows: 80%;
}
.legend__title span {
  margin-right: 5px;
  padding: 0;
  display: inline-block;
  width: 20px;
  height: 15px;
}
.legend__result-red {
  background: #e74c3c;
  // background: rgba(255,0,0,0.6);
}
.legend__result-yellow {
  background: #f1c40f;
  // background: rgba(255,255,0,0.5);
}
.legend__result-green {
  background: #2ecc71;
  // background: rgba(0,255,0,0.3);
}
.filter__button {
  margin: 0 10px 10px 12px;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #581865;
}
.card-info__block {
  width: 100%;
  margin: 0 auto;
  // text-align: center;
}
.card__title {
  text-align: center;
  margin: 0 auto;
  padding: 5px 0 10px;
}
.card__subtitle {
  font-style: italic;
}
.card__row {
  width: 40%;
  margin: 10px auto;
  padding: 0;
}
.card__label {
  width: 220px;
  display: inline-block;
  font-weight: bolder;
}
.card__row-action {
  text-align: center;
}