<div class="page__inner">
  <p class="back-link__block">
    <%= link_to "<< К списку секторов экономики", admin_industries_path, class: 'back-link' %>
  </p>
  <h2 class="form__title">Добавить сектор экономики : </h2>
  <%= render 'admin/industries/form' %>
</div>
