<header>
  <div class="logo"><%= link_to image_tag('logo_ru.png', height: '55'), root_path %></div>
  <div class="navbar">
    <ul class="menu">
      <li class='menu__item'><%= link_to 'Добавить компанию', new_company_path, class: 'menu__item-link' %></li>
      <li class='menu__item'><%= link_to 'Новое взаимодействие', new_interaction_path, class: 'menu__item-link' %></li>
      <li class='menu__item'><%= link_to 'Представители', representatives_path, class: 'menu__item-link' %></li>
      <li class='menu__item'><a href="#" class="menu__item-link">Войти</a></li>
      <li class='menu__item'><a href="#" class="menu__item-link">Регистрация</a></li>
    </ul>
  </div>
</header>